<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='http://code.jquery.com/jquery-latest.min.js'></script>
  <script defer src='/javascripts/script.js'></script>
</head>

<body>
  <div class="wrap">
    <div class="upload">
      <div id="imgView"></div>

      <script>
        function setThumbnail(event) { 
          var reader = new FileReader(); 
          

          if(document.querySelector("div#imgView").hasChildNodes()){
            
            console.log(document.querySelector("div#imgView").childNodes);
            //document.querySelector("div#imgView").
            document.getElementById("chkImage").remove();
          }

          reader.onload = function (event) { 
            var img = document.createElement("img"); 
            img.style.width = 1000 + "px";
            img.style.height = 400 + "px";
            img.id = "chkImage";
            img.setAttribute("src", event.target.result); 
            document.querySelector("div#imgView").appendChild(img); 
          };

          reader.readAsDataURL(event.target.files[0]);

        
        }

      </script>


    </div>
    <form id='uploadForm'>
      <!-- <input type="file" id="filename" name="file" accept="image/*" /> -->
      <input type="file" id="filename" name="file" accept="image/*" onchange="setThumbnail(event);" />
      <button type="button" id="uploadBtn">변환</button>
    </form>
  </div>
  <div class="translation">
    
    <div id="textEn">
      <div class="title">
        <h1>영어</h1>
      </div>
      <div class="content" id="contentEn"></div>
    </div>
    <div id="textKo">
      <div class="title">
        <h1>한국어</h1>
      </div>
      <div class="content" id="contentKo"></div>
    </div>
  </div>
  </div>
</body>

</html>